{% extends 'base.html'%}
{%block title%}Search Application {%endblock%}
{%block content%}
<div class="container">
    <h1>View Applications</h1>

    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="majorSelect">Filter by Major:</label>
            <select class="form-control" id="majorSelect" name="major">
              <option value="">Select a Major</option>
              <option value="CSCE" {% if selected_major == 'CSCE' %}selected{% endif %}>CSCE</option>
              <option value="MENG" {% if selected_major == 'MENG' %}selected{% endif %}>MENG</option>
              <option value="CENG" {% if selected_major == 'CENG' %}selected{% endif %}>CENG</option>
              <option value="PHYSICS" {% if selected_major == 'PHYSICS' %}selected{% endif %}>PHYSICS</option>
              <option value="MATH" {% if selected_major == 'MATH' %}selected{% endif %}>MATH</option>
              <option value="OTHER" {% if selected_major == 'OTHER' %}selected{% endif %}>OTHER</option>
            </select>
          </div>
          <div class="form-group">
            <label for="studentInput">Filter by Student Name:</label>
            <input type="text" class="form-control" id="studentInput" name="student" value="{{ selected_student }}">
          </div>
          <div class="form-group">
            <label for="jobSelect">Filter by Job id:</label>
            <input type="text" class="form-control" id="jobSelect" name="job" value="{{ selected_job }}" >
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary" onclick="clearFilters()">Clear</button>
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>
        </form>
      </div>

      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Company Name</th>
              <th>Salary</th>
              <th>Major</th>
            </tr>
          </thead>
          <tbody>
            {% if applications %}
            {% for application in applications %}
            <tr>
              <td>{{ application['studentname'] }}</td>
              <td>{{ application['companyname'] }}</td>
              <td>{{ application['salary'] }}</td>
              <td>{{ application['major'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="4">No applications found.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
    </div>
</div>

<script>
    function clearFilters() {
      document.getElementById("majorSelect").selectedIndex = 0;
      document.getElementById("studentInput").value = "";
      document.getElementById("jobSelect").value = "";
    }
  </script>
{% endblock%}